.cover-screen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 500ms, font-size 500ms;
    display: flex;
    animation: overlay-grow 500ms forwards;
}

.setting-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    height: 80%;
    width: 60%;
    font-size: 2vmax;
    background-color: rgb(231, 238, 243);
    color: #ffffff00;
    border-radius: 1rem;
    margin: 1px;
    padding: .5rem 1rem;
}

.win-message {
    display: flex;
    flex-direction: column;
    color: #90bfe0;
    font-family: var(--font);
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 10vmin;
    }
}
