.score-container {
    display: flex;
    margin: 0 3vw;
    font-family: var(--font);
}

.score-container .number {
    display: flex;
    flex-direction: column;
}

.score-container .number h2 {
    margin: 0;
    padding: 0;
    font-size: 40px;
}

.score-container .number h1 {
    margin: 0;
    padding: 0;
    font-size: 90px;
}

@media only screen and (max-width: 830px) {
    .score-container .number h1 {
        font-size: 90px;
    }
    .score-container .number h2 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 420px) {
    .score-container .number h1 {
        font-size: 70px;
    }
    .score-container .number h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 380px) {
    .score-container .number h1 {
        font-size: 50px;
    }
    .score-container .number h2 {
        font-size: 15px;
    }
}
