.score-container {
    display: flex;
    margin: 0 3vw;
    font-family: var(--font);
}

.score-container .number {
    display: flex;
    flex-direction: column;
}

.score-container .number h2 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    /*color: #104d78;*/
}

.score-container .number h1 {
    margin: 0;
    padding: 0;
    font-size: 90px;
    /*color: #104d78;*/
}

@media only screen and (min-width: 350px) {
    .score-container .number h1 {
        font-size: 50px;
    }
    .score-container .number h2 {
        font-size: 15px;
    }
}

@media only screen and (min-width: 380px) {
    .score-container .number h1 {
        font-size: 70px;
    }
    .score-container .number h2 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 760px) {
    .score-container .number h1 {
        font-size: 90px;
    }
    .score-container .number h2 {
        font-size: 25px;
    }
}