@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&display=swap');

.base-timer {
    position: relative;
    height: 200px;
    width: 200px;
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: #104d78;
}

.timer-container {
    font-family: Inter,sans-serif;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}
