.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 90%;
    width: 45%;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 3px 10px #437ca3;
    background-color: #5caae0;
}

.memory-icon {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-grow: 1;
    height: 85%;
    width: 85%;
}

.memory-icon-active {
    background-color: #c275e0;
    box-shadow: 0 3px 10px #7a259c;
}

.memory-icon-active-is-matched-false {
    background-color: red;
    box-shadow: 0 3px 10px #7a259c;
}

.memory-icon-active-is-matched-true {
    background-color: black;
    box-shadow: 0 3px 10px #7a259c;
}

.image {
    width: 90%;
    height: 90%;
    border-width: 1px;
    box-shadow: 0 3px 10px #437ca3;
    display: flex;
    justify-content: center;
}