.cards {
    height: 90%;
    width: 45%;
    margin: auto;
    background-color: #515;
}

.cards-container {
    display: flex;
    margin: auto;
    width: 75%;
    height: 75%;
    background-color: #565;
}