:root {
  --screenSizeSmallPhone: 370px;
  --screenSizeBigPhone: 420px;
  --screenSizeTablet: 770px;
  /*--width: #ffffff;*/
  /*--height: #ffffff;*/
}

.app-container {
  height: 100vh;
  width: 100vw;
  background-color: #d5dfe6;
}

.game-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5%;
  height: 25%;
  background-color: #fff;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: #3A38AE;
}

@media only screen and (min-width: 350px) {
  .cards-container {
    flex-direction: column;
  }
  .header-container {
    height: 12%;
  }
}

@media only screen and (min-width: 380px) {
  .cards-container {
    flex-direction: column;
  }
  .header-container {
    height: 12%;
  }
}

@media only screen and (min-width: 760px) {
  .cards-container {
    flex-direction: column;
  }
}


