.app-container {
  height: 100vh;
  width: 100vw;
  background-color: #d5dfe6;
}

.game-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.up-footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5%;
  height: 25%;
  background-color: #fff;
}

.cards-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #3A38AE;
}

@media only screen and (max-width: 600px) {
  .cards-container {
    flex-direction: column;
  }
  .up-footer-container {
    height: 12%;
  }
}

